.socialIcon {
    display: inline;
    font-size: 2rem;
    margin-left: 15px;
}

.footerDesc {
    text-align: justify;
}

.footerText {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: bold;
    background-color: #ff5050;
}